{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Abdurrahman </title>
    <link rel="stylesheet" type="text/css" href="{% static 'my-style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
<div class="container-fluid" style="background-color: #e6ccff">
        <div class="bg-img">
            <div class="pg1">
                <img class="img" src="https://files.catbox.moe/e6xe48.jpg" alt="cover" style="border-radius: 50%; max-width: 400px;">
                <br>
                <br>
                <h1 class="head"><b> "Everything is Connected" </b></h1>
            </div>
            <img src="https://files.catbox.moe/oyqi0x.jpg" alt="background" style="width:100%; filter: blur(2px);">
            <p class="para" style="color:#2d4153"><b>Scroll down for more info</b></p>
        </div>
        

    <div class="row"  style="background-color:#660066;">
        <div class="col-sm-12 col-md-3 col-lg-4" style="background-color:#006600;">
            <img class="img center-block" src="https://files.catbox.moe/sni16h.jpg" alt="img1" style="max-width: 520px;">
        </div>
        <div class="col-sm-12 col-md-9 col-lg-8 pg2" style="padding-right: 5%">
            <br>
            <h1 class="head"><b>Hi, I'm Abdurrahman</b></h1>
            <br>
            <p class="para">and I’m an undergraduate student at Computer Science Faculty of University of Indonesia.  
                <br>I am definitely not the brightest student one can found but even some fish can fly if it tries hard enough.</p>
            <br>
        </div>
    </div>
    
    <div class="row" style="background-color:#006600;">
        <div class="col-sm-12 col-md-9 col-lg-8 pg3" style="padding-left: 5%">
            <br>
            <h1 class="head"><b>Bio</b></h1>    
            <br>
            <ul class="para">
                <li>Junior member at RISTEK CSUI</li>
                <li>Alumnus of SMANU MH Thamrin Jakarta</li>
                <li>V and VI Thamrin Olympiad & Cup Committee</li>
                <li>Foreign language skill :
                 <ul>
                    <li>English (IELTS - 7.0)</li>
                    <li>Spoken Japanese (JLPT - N4)</li>
                 </ul>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-4" style="background-color:#660066; text-align: right;">
                <img class="img center-block" src="https://files.catbox.moe/zxtq81.jpg" alt="img2" style="max-width: 516px;">
        </div>
    </div>

    <div class="row pg4">
        <div class="col-md-12">
            <br>
            <h1 class="head"><b>My Interest</b></h1>
            <br>
            <br>
            <br>
            <p class="para">I could easily lost interest in things actually, but there are things that sometimes still catch my attention until now.
                <br>
                <br>One of them is theatre as I was once a lead actor in my highschool. Even as now I have decided to stop acting, I am still deeply interested in watching plays be it professional or amateur.
                <br>
                <br>The other thing is japanese pop culture. As a result of mindless holidays, I have been interested in japanese pop culture; anime, manga, and game in particular. Everything started from the boredom of middle school to high school vacancy and its quite hard to “get out of it” especially after I’ve been here knee-deep.</p>
                <br>
        </div>
    </div>

    <div class="row" style="background-color:#2d4153; color:white; padding-left:2%;">
        <div class="col-md-10 col-sm-9">
            <br>
            <h3 class="para">My Contact</h3>
            <br>
            <author>
                phone : 081293738216
                <br>E-mail: abdurrahmmanhermanto18@gmail.com
            </author>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-2 col-sm-3">
            <br>
            <h3 class="para">send me a message</h3>
            <a href="{% url 'page2' %}">
                <img src="{% static "mail.jpg" %}" alt="message" width="80" height="80" style="border-radius:50%; text-align: right;">
            </a>
            <br>
            <br>
        </div>
    </div>
</div>

</body>
</html>