{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Random People Shouts </title>
    <link rel="stylesheet" type="text/css" href="{% static 'new-style-1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>


<body style="color: black; background-color: white;">
    <div>
            <button id="change" type="button" onclick="switchTheme()"> switch theme </button>
        <br>
        <form method="POST">
            {% csrf_token %}
            <h1>LEAVE A SHOUT!</h1><br>
            {{ form }}
            <input id="submit" type="submit" value="Shout!">
        </form>

        <br>
        <a href="{% url 'profile' %}"> <button type="button"> my profile </button> </a>
        <br>

        {% if shout_list %}
            <ul>
                {% for shout in shout_list %}
                    <br>
                    <p id="shouts">{{ shout.shout }},</p>
                {% endfor %}
            </ul>
        {% else %}
            <br>
            <p>still empty.</p>
        {% endif %}
    </div>

    <script>
            function switchTheme() {
                var colorr = document.body.style.color;
                var backgroundd = document.body.style.backgroundColor;
                document.body.style.color = backgroundd;
                document.body.style.backgroundColor = colorr;
            }
        </script>
</body>
