{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My Profile </title>
    <link rel="stylesheet" type="text/css" href="{% static 'new-style-1.css' %}"> 

    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body style="color: black; background-color: white;">
    <button id="change" type="button" onclick="switchTheme()"> switch theme </button>
    <br>
    <img class="img" src="https://files.catbox.moe/e6xe48.jpg" alt="cover" style="border-radius: 50%; max-width: 300px;">
    <br>
    <h3>Hello, my name is</h3>
    <h1><strong>Abdurrahman</strong></h1>
    <p>Just an ordinary computer science student.</p>
    <br>

    <div id="accordion">
            <h3><li>Activity</li></h3>
            <div>
              <p>- Wasting my life.</p>
              <p>- <strike>Sleeps.</strike> Drowned in seas of assignments</p>
              <p>- Procrastinating</p>
            </div>
            <h3><li>Experience</li></h3>
            <div>
              <p>Junior member at RISTEK CSUI.</p>
              <p>That's it, nothing else.</p>
            </div>
            <h3><li>Achievement</li></h3>
            <div>
              <p>What do you expect?</p>
            </div>
          </div>
    
    <br>
    <a href="{% url 'index' %}"> <button type="button"> back </button> </a>
    <br>

    <script>
        $( "#accordion" ).accordion();
        function switchTheme() {
            var colorr = document.body.style.color;
            var backgroundd = document.body.style.backgroundColor;
            document.body.style.color = backgroundd;
            document.body.style.backgroundColor = colorr;
        }
    </script>

</body>