body, html {
    margin: auto;
    height: 100%;
    text-align: center;
    position: relative;
}

#change {
    position: absolute;
    right: 3%;
    top: 1%;    
}

.img {
    width: 100%;
    height: auto;
    margin: 25px;
}