{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> send me a message </title>
    <link rel="stylesheet" type="text/css" href="{% static 'my-style.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color:#e6ccff">
    
    <div class="container">
        <form action="action_page.php">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name.." class="form">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name.." class="form">

            <label for="date">Date</label>
            <input type="date" id="date" name="date" class="form">
            
            <label for="email">E-mail</label>
            <input type="email" id="email" name="e-mail" placeholder="Your E-mail.." class="form">

            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Subject.." class="form">

            <label for="Message">Message</label>
            <textarea id="message" name="message" placeholder="Write here.." style="height:200px" class="form"></textarea>


        </form>

        <div class="row">
            <div class="col-md-1">
                    <a href="page1.html">
                            <img src="{% static "back.png" %}" alt="back" width="80" height="80">
                        </a>
            </div>
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <br>
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </div>
    
</body>