body, html {
    height: 100%;
    background-color: #e6ccff;
}

.bg-img {
    height: 100%;
    position: center;
    text-align: center;
    position: relative;
    background-color: #e6ccff;
}

.img {
    width: 100%;
    height: auto;
}

.center-block {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
 }

.head {
    font-size: 150%;
}

.para {
    font-size: 100%;
}

.pg1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2;
}

.pg2 {
    color:#ddffcc; 
    vertical-align: middle;
    margin: auto;
    width: 100%;
    /* padding-right: 50px; */
    border: 50px #006600;
}

.pg3 {
    color:#e6ccff; 
    vertical-align: middle;
    margin: auto;
    width: 100%;
    border: 50px #660066;
}

.pg4 {
    vertical-align: middle;
    padding: 10%;
    width: 100%;
    background-color: white;
}

.form {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

