{% if schedule_list %}
    <ul>
        {% for schedule in schedule_list %}
            <p>{{ schedule.date_time }}, {{ schedule.activity_place }}
                , {{ schedule.activity_name }}, {{ schedule.activity_category }}</p>
        {% endfor %}
    </ul>
{% else %}
    <p>No schedule available.</p>
{% endif %}